@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root   {
    --off-white: #ecf0f1;
    --green: #16a232;
    --dark-green: #015323;
    --blue-green: #006F7A;
    --blue: #2F4858;
    --background-dark: #24252A;
    --grey-border: rgb(90, 90, 90);
}

*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #24252A;*/
}

.background {
    background-image: url("../images/tree.jpg");
    width: 100%;
}


html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat",sans-serif;
    font-size: 1.6rem;
}

/** Nav Bar **/

header {
    position: fixed;
    width: 100%;
}

.nav-toggle {
    display: none;
}

/* Mobile Nav */
@media (max-width: 35em){
    header {
        background-color: var(--background-dark);
        color: var(--off-white);
        text-align: center;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        width: 1.2em;
        display: block;
        height: 2px;
        background-color: var(--green);
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
    .nav-toggle-label span::before {
        bottom: 7px;
    }
    .nav-toggle-label span::after {
        top: 7px;
    }

    nav {
        list-style: none;
        position: absolute;
        text-align: center;
        width: 100%;
        /*display: none;*/
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 300ms ease-in-out;
    }

    .cta {
        display: none;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: var(--background-dark);
        padding: 1rem 0rem .1rem 0rem;
    }

    nav li {
        margin: 0rem 1rem 1rem;
    }

    nav a {
        color: var(--off-white);
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
    }

    nav a:hover {
        color: var(--green);
    }

    .nav-toggle:checked ~ nav {
        /*display: block;*/
        transform: scale(1,1);
    }
    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 150ms ease-in-out 150ms;
    }

}

@media (min-width: 35em) {

    .cta__link {
        visibility: hidden;
    }

    h1 {
        font-weight: 200;
        font-size: 3rem;
        color: var(--off-white);
        text-decoration: none;
        margin-right: auto;
    }

    li,a,button {
        font-weight: 500;
        font-size: 1.6rem;
        color: var(--off-white);
        text-decoration: none;
    }

    header  {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5%;
        background-color: var(--background-dark);
        border-bottom: 2px solid var(--dark-green);
    }

    .logo   {
        cursor:pointer;
        margin-right: auto;
    }

    nav {
        margin-right:-7rem;
    }

    .nav__links {
        list-style: none;
    }

    .nav__links li  {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav__links li a {
        transition: all 0.3s ease 0s;
    }

    .nav__links li a:hover{
        color: var(--green);
    }

    button {
        padding: 9px 25px;
        background-color: var(--green);
        color:var(--background-dark);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-left: 20px;
        border: 1px solid var(--background-dark);
    }

    button:hover    {
        background-color: var(--background-dark);
        color: var(--green);
        border: 1px solid var(--green);
    }
}

/** Body **/

.whole {
    /*width: 100%;
    height: 50rem;
    background-image: linear-gradient(35deg,var(--blue) 10%,  var(--green) 60%);*/
    background-color: var(--off-white);
    padding: 0em .5em 0em;
    width: 90%;
    margin: auto;
    max-width: 95ch;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

@media (min-width: 35em){
    .whole {
        padding: 5em 5em 0em;
    }
}

h2 {
    font-weight: 100;
    font-size: 9rem;
    padding-bottom: 5rem;
}

.sub__text__left {
    color: var(--dark-green);
    padding-top: 5rem;
    font-size: 3rem;
    align-items: flex-start;
}

.sub__text__right {
    color: var(--dark-green);
    padding-top: 5rem;
    font-size: 3rem;
    text-align: right;
    max-width: 30ch;
    align-self: flex-end;
}

.sub__text__link {
    font-size: 3rem;
    color: var(--green);
}

.intro__containers {
    margin: 10rem 0rem 14rem;
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
}

/* Mobile Body */
@media (max-width: 50em){
    h2 {
        font-size: 5rem;
        padding-bottom: 3rem;
        text-align: center;
        background-color: #006F7A;
    }
    
    .sub__text__left {
        color: var(--dark-green);
        padding-top: 5rem;
        font-size: 2rem;
        align-items: flex-start;
    }
    
    .sub__text__right {
        color: var(--dark-green);
        padding-top: 5rem;
        font-size: 2rem;
        text-align: left;
        max-width: 30ch;
        align-self: flex-start;
    }
    
    .sub__text__link {
        font-size: 2rem;
        color: var(--green);
        text-decoration: none;
    }
    
    .intro__containers {
        margin: 10rem 0rem 7rem;
        display: flex;
        align-items: stretch;
        width: 100%;
        flex-direction: column;
    }
}

footer {
    width: 100%;
    padding: 1.3em 1em 1.3em;
    background-color: var(--background-dark);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer__links {
    padding: 0rem 1.8rem 0rem;
}

.link__img {
    max-width: 1.8em;
}